<ion-view view-title="Beers" id="beers">
  <ion-content class="padding">
    <!-- <button ui-sref="map" class="button button-full button-calm">Find Nearest Beer</button> -->

    <!-- <div>
      <label for="">Quick Search</label>
      <input type="text">
      <button></button>
    </div> -->

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Quick Search</span>
        <input type="text" name="quicksearch" ng-model="searchValue" required="required" class="form-control" placeholder="Enter beer name">
      </label>
      <button ui-sref="beers-results" class="button button-small button-outline button-positive" ng-click="quickSearch(searchValue)">Submit</button>
    </div>

    <br />

    <ion-list>
      <div ng-repeat="(name, obj) in groups">
        <ion-item class="item-stable" ng-click="toggleGroup(name)" ng-class="{active: isGroupShown(name)}">
          <i class="icon" ng-class="isGroupShown(name) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{name | capitalize:'first'}}
        </ion-item>
        <div ng-if="obj.listStyle == 'Inline'"
             class="item-accordion item"
             ng-show="isGroupShown(name)">
          <span ng-repeat="item in obj.list"
                ng-click="selectItem(name, item)"
                ng-class="{selected: isItemSelected(name, item)}">
            {{item}}
          </span>
        </div>
        <ion-item ng-if="obj.listStyle == 'Block'"
                  class="item-accordion"
                  ng-show="isGroupShown(name)"
                  ng-repeat="item in obj.list"
                  ng-click="selectItem(name, item)"
                  ng-class="{selected: isItemSelected(name, item)}">
          {{item}}
        </ion-item>
      </div>
      <div class="beers-buttons">
        <button ui-sref="beers-results" ui-sref-opts="{reload:true}" class="button button-balanced">Submit</button>
        <button class="button button-assertive">Reset</button>
      <div>
    </ion-list>

  </ion-content>
</ion-view>

