<ion-view view-title="Beer Menu" id="beers-list">
  <ion-content class="padding">
    <!-- <h2 id="menu-vendor-name">Vendor Name</h2> -->
    <div class="list card"
         ng-repeat="beer in beers">
      <div class="item item-body">
        <a class="item item-thumbnail-left"
           ui-sref="beer-details({beer_id: beer.id})">
          <img class="beers-list-image"
               src="{{beer.brewery_image}}">
          <h2>{{beer.name}}</h2>
          <p>{{beer.simpstyle}}</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
