<ion-view view-title="Beers">
  <ion-content class="padding">
    <a ui-sref="map"><button class="button button-full button-positive">Find Nearest Beer</button></a>

    <ion-list>
      <div ng-repeat="(name, items) in groups">
        <ion-item class="item-stable" ng-click="toggleGroup(name)" ng-class="{active: isGroupShown(name)}">
          <i class="icon" ng-class="isGroupShown(name) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{name | capitalize:'first'}}
        </ion-item>
        <div class="item-accordion item" ng-show="isGroupShown(name)">
          <span ng-repeat="item in items" ng-click="selectItem(name, item)" ng-class="{selected: isItemSelected(name, item)}">
            {{item}}
          </span>
        </div>
      </div>
      <a ui-sref="map"><button class="button button-positive">Search</button></a>
    </ion-list>

  </ion-content>
</ion-view>
