<ion-view view-title="Bookmarks" id="bookmarks">
  <ion-pane>
    <ion-tabs class="tabs-top">

      <!-- Tab 1 -->
      <ion-tab title="Bars" href="#/bookmarks/bars">
        <ion-nav-view name="bars">
          <ion-content>
            Tab 1 content
          </ion-content>
        </ion-nav-view>
      </ion-tab>


      <!-- Tab 2 -->
      <ion-tab title="Vendors" href="#/bookmarks/vendors">
        <ion-nav-view name="vendors">
          <ion-content>
            Tab 2 content
          </ion-content>
        </ion-nav-view>
      </ion-tab>
    </ion-tabs>

  </ion-pane>
</ion-view>

