<ion-view view-title="Settings" id="settings">
  <ion-content>
    <div class="row">
        <div class="bars-buttons col text-center">
            <button class="button button-large button-balanced"
            ng-hide="loggedIn.loggedIn"
            ui-sref="login">
            Log In
            </button>
            <!--  <button class="button button-full button-balanced"
                    ng-hide="loggedIn.loggedIn"
                    ui-sref="admin-login">
                    Admin Log In
            </button> -->
            <button class="button button-large button-balanced"
                    ng-hide="loggedIn.loggedIn"
                    ui-sref="signup">
                    Sign Up
            </button>
            <button class="button button-large button-assertive"
                    ng-show="loggedIn.loggedIn"
                    ng-click="logout()">
                    Log Out
            </button>
            <button class="button button-large button-assertive"
                    ng-show="loggedIn.loggedIn"
                    ui-sref="bookmarks">
                    Bookmarks
            </button>
        <div class="row">
    <div class="bars-buttons col text-center">

    <!-- <button class="button button-full button-energized"
            ng-click="validate()">
            Validate
    </button> -->
  </ion-content>
</ion-view>